#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Custom Debugger Callbacks Dispatcher Extension"

#define VER_INTERNALNAME_STR        "dbgcb.dll"
#define VER_ORIGINALFILENAME_STR    "dbgcb.dll"

#include "common.ver"
